/*!
 gold #d3c857
 */



body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.topnav {
    font-size: 14px; 
    height:100px;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/intro-bg.jpg) no-repeat center center;
    background-size: cover;
}



.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

#recent
    {
        margin-bottom:2em;
    }    
    
#recent .recent-wrapper
	{
		border:1px solid #303030;
		padding: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
		-webkit-transition: all 0.4s ease-in-out;
		        transition: all 0.4s ease-in-out;
		position: relative;
	}
#recent .recent-wrapper:hover
	{
		cursor: pointer;
		opacity: 0.4;
		bottom: 4px;
	}

#recent .recent-wrapper .recent-des
	{
		padding: ;
        text-align:center;
	}


.carousel-inner .active.left { left: -33%; }
.carousel-inner .next        { left:  33%; }
.carousel-inner .prev        { left: -33%; }
.carousel-control.left,.carousel-control.right {background-image:none;}



#programs
	{
        margin-bottom:2em;
    }   

#programs h3 {
    margin:0 0 10px 0;
    text-align:center;
    font-size:1.2em;
}

#programs .icon {
    margin:0;
    text-align:center;
}

#programs p {
   font-weight: 200;
    text-align:left;
}


#about
	{
		background: #595959;
    }    
    
#about .about-wrapper
	{
		background: #303030;
		padding-bottom: 5px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
		-webkit-transition: all 0.4s ease-in-out;
		        transition: all 0.4s ease-in-out;
		position: relative;
	}
#about .about-wrapper:hover
	{
		cursor: pointer;
		opacity: 0.4;
		bottom: 4px;
	}

#about .about-wrapper .about-des
	{
		padding: 10px;
        text-align:center;
	}



footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}


#contact
	{
		background: #ccc;

	}
#contact .form-control
	{
		background: transparent;
		border: 1px solid #4d98c9;
		border-radius: 2px;
		box-shadow: none;
		color: #016696;
		margin-top: 6px;
		margin-bottom: 16px;
	}
#contact label
	{
		font-weight: 500;
	}
#contact input
	{
		height: 50px;
	}
#contact input[type="submit"]
	{

		font-weight: bold;
	}
#contact input[type="submit"]
	{
		border: 1px solid #016696;
        color:#fff;
        background: #016696;
	}
#contact input[type="submit"]:hover
	{
		background: #d3c857;
        color:#016696
	}

