/*!
 gold #d3c857
blue #016696
 */


/* Mobile first approach media queries under <768 pixels
grid (col-xs)
-------------------------------------------------- 
-------------------------------------------------- 
-------------------------------------------------- */


body, html {
    width: 100%;
    height: 100%;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight:100;
    font-size:62.5%; /* 16px × 62.5% = 10px */
	font-size:1em;
    padding-top:;
}


h1, h2, h3, h4, h5, h6 {
    
    font-weight: 900;
}

.topnav {
    font-size: 14px; 
    height:100px;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/intro-bg.jpg) no-repeat center center;
    background-size: cover;
}



.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}




#programs
	{
        margin-bottom:2em;
    }   

#programs h3 {
    margin:0 0 10px 0;
    text-align:center;
    text-align:center;
}

#programs .icon {
    margin:0;
    text-align:center;
}

#programs p, #programs .learMore {
    text-align:left;
}

#news
    {
        background:#d3c857;
    }    
    
#news .news-wrapper
	{
		border:1px solid #303030;
		margin: 20px;
        padding:10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
		-webkit-transition: all 0.4s ease-in-out;
		        transition: all 0.4s ease-in-out;
		position: relative;
        min-height: 260px;
        background:#fff;
	}
#news .news-wrapper:hover
	{
		cursor: pointer;
		opacity: 0.4;
		bottom: 4px;
	}

#news .news-wrapper .news-des .news-date
	{
        text-align:left;
        
	}

#news a {
    color:#000;
    text-decoration: none;
    font-size:.9em;
    font-weight:900;
}

#news .news-date {
    font-weight:100; 
    font-style: italic;
}

#news .viewAll {margin:20px 0;}




#about
	{
		margin-bottom:2em;
    }    
    
#about .about-wrapper
	{
		background: #303030;
		padding-bottom: 5px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
		-webkit-transition: all 0.4s ease-in-out;
		        transition: all 0.4s ease-in-out;
		position: relative;
	}
#about .about-wrapper:hover
	{
		cursor: pointer;
		opacity: 0.4;
		bottom: 4px;
	}

#about .about-wrapper .about-des
	{
		padding: 10px;
        text-align:center;
	}



footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}

#testimonial {
    background:#016696;
    color:#fff;
        
}

#contact
	{
		background: #ccc;

	}
#contact .form-control
	{
		background: transparent;
		border: 1px solid #4d98c9;
		border-radius: 2px;
		box-shadow: none;
		color: #016696;
		margin-top: 6px;
		margin-bottom: 16px;
	}
#contact label
	{
		font-weight: 500;
	}
#contact input
	{
		height: 50px;
	}
#contact input[type="submit"]
	{

		font-weight: bold;
	}
#contact input[type="submit"]
	{
		border: 1px solid #016696;
        color:#fff;
        background: #016696;
	}
#contact input[type="submit"]:hover
	{
		background: #d3c857;
        color:#016696
	}


	blockquote {

        padding: 10px 90px 10px 110px;
        position: relative;
        quotes: none;
        background: url(../img/quotes.png) 55px 0 no-repeat;
        border: 0px;
        font-size: ;
        line-height: ;
    }


    
    .carousel-control.right, .carousel-control.left  {background-image:none;}

.social {text-align:right;}
.social a {padding-left:20px;}


/* RESPONSIVE CSS    

MEDIA QUERIES

*/


@media(max-width:767px) {
        .intro-message {
            padding-bottom: 15%;
        }

        .intro-message > h1 {
            font-size: 3em;
        }

        ul.intro-types-buttons > li {
            display: block;
            margin-bottom: 20px;
            padding: 0;
        }

        ul.intro-types-buttons > li:last-child {
            margin-bottom: 0;
        }

        .intro-divider {
            width: 100%;
        }
    
        .social{text-align:left; padding-top:20px;}
    }



/* -------------------------------------------------- */

		/* Extra Small devices	(phones,			<767px)     -NO MEDIA QUERIE BECAUSE THIS IS DEFAULT IN BOOTSTRAP
		/* Small devices		(tablets,			≥768px  to 991px) 
		/* Medium devices		(desktops,			≥992px to 1199px) 
		/* Large devices		(large desktops,	≥1200px and up) 


  
/* Small devices (tablets, ≥768px and up) 
grid (col-sm)
-------------------------------------------------- 
-------------------------------------------------- 
-------------------------------------------------- */
@media (min-width: 768px) {  


}

    
    
 /* Medium devices (desktops, ≥992px and up) 
 grid (col-md)
-------------------------------------------------- 
-------------------------------------------------- 
-------------------------------------------------- */
@media (min-width: 992px) {  

    
    .company {border-right:1px solid #ccc;}
    .company p {padding-right:20px; }
    .team { padding-left:20px;}
    
    
    
    
    
    

    
    
}







 /* Large devices (large desktops, ≥1200px and up) 
 grid (col-lg)
-------------------------------------------------- 
-------------------------------------------------- 
-------------------------------------------------- */
@media (min-width: 1200px) {  


}




